#newslist .col-6{
    min-width: 100%;
    width: 100%;
}
@media screen and (min-width: 449px){
    #newslist .col-sm-6{
        min-width: 50%;
        width: 50%;
    }
}
@media (min-width: 992px) {
    #newslist .col-lg-4 {
        min-width: 33.33333333%;
    }
}
@media screen and (min-width: 1600px){
    #newslist .col-xl-3{
        min-width: 25%;
    }
}