.p-c{
    padding: 1.25rem;
    background: var(--pbx-b);
    border-radius: var(--img-rnd);
    border: 1px solid var(--pbx-r);
}   
#man-sl .p-c{
    padding: 0;
    border: none;
    background: none;
    border-radius: 0;
}
.panel-slider .ar-ct-m{
    top: 0;
    bottom: 0;
}
.panel-slider .ar-ct-m .ar-ct:before{
    display: none;
}
@media screen and (max-width: 549px){
    .p-c{
        padding: 1rem;
    }
}