.panel-slider{
    max-width: 100%;
}
.p-sl{
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	pointer-events: none;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}
.p-sl .p-w{
	pointer-events: auto;
	scroll-snap-align: start;
}
.panel-slider .ar-ct{
	display: none;
}
.panel-slider .sl-ar{
    background: var(--sl-ar-b);
}
.panel-slider .sl-ar:not(.inactive):hover{
    background: var(--sl-ar-b-h);
}
.panel-slider .sl-ar .ar{
	border-color: var(--sl-ar-i);
}
.panel-slider .sl-ar,
#gallery .sl-ar{
    height: 1.1rem;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
}
.panel-slider .right{
    display: flex;
    white-space: nowrap;
    margin-left: auto;
}
.panel-slider .btn-group.ar-ct{
    margin: 0;
}
.panel-slider .right .btn-primary{
    margin-left: .5rem;
}
.panel-slider .panel-heading .ar-ct .sl-nx,
#gallery .sl-pr{
    border-radius: 0 var(--rnd-frc) var(--rnd-frc) 0;
    padding-left: .8rem;
}
.panel-slider .panel-heading .ar-ct .sl-pr,
#gallery .sl-nx{
    border-radius: var(--rnd-frc) 0 0 var(--rnd-frc);
    padding-right: .8rem;
}
.sl-ar.inactive{
	opacity: .5;
	cursor: not-allowed;
}
@media screen and (min-width: 1600px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-xl));
        min-width: calc(100% / var(--prd-sld-xl));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmXl);
        min-width: calc(100% / @catElmXl);
    }
	.panel-slider .ar-ct.show-xl{
		display: flex;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1599px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-lg));
        min-width: calc(100% / var(--prd-sld-lg));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmLg);
        min-width: calc(100% / @catElmLg);
    }
	.panel-slider .ar-ct.show-lg{
		display: flex;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    #freegift .col-6,
    #p-l .p-w,
	#sp-l.show-above > .inside > section,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-md));
        min-width: calc(100% / var(--prd-sld-md));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmMd);
        min-width: calc(100% / @catElmMd);
    }
	.panel-slider .ar-ct.show-md{
		display: flex;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #freegift .col-6,
    #p-l .p-w,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-sm));
        min-width: calc(100% / var(--prd-sld-sm));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmSm);
        min-width: calc(100% / @catElmSm);
    }
	.panel-slider .ar-ct.show-sm{
		display: flex;
	}
}
@media screen and (max-width: 768px){
    #freegift .col-6,
    #p-l .p-w,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-xs));
        min-width: calc(100% / var(--prd-sld-xs));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmXs);
        min-width: calc(100% / @catElmXs);
    }
	.panel-slider .ar-ct.show-xs{
		display: flex;
	} 
    .ar-ct-m{
        padding: 0;
    }
}
@media screen and (max-width: 499px){
    #freegift .col-6,
    #p-l .p-w,
	.p-sl .p-w,
	.ar-ct-m .ar-ct{
        width: calc(100% / var(--prd-sld-xxs));
        min-width: calc(100% / var(--prd-sld-xxs));
    }
    .sc-w .col-6{
        width: calc(100% / @catElmXxs);
        min-width: calc(100% / @catElmXxs);
    }
	.panel-slider .ar-ct.show-xs{
		display: flex;
	} 
    .ar-ct-m{
        padding: 0;
    }
}

/* Productslider in Box */
.b-sl .p-sl .p-w{
	width: 100%;
	min-width: 100%;
	scroll-snap-align: start;
}
.b-sl .ar-ct-m .ar-ct{
	width: 100%;
	min-width: 100%;
}
.b-sl .ar-ct-m .ar-ct .sl-nx{
	left: 100%;
}
.b-sl .ar-ct{
	display: block;
}