.p-c .title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @titleLines;
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-c .title:focus,
.p-c .title a:focus{
    outline: none;
    box-shadow: inset 0 0 0 2px var(--fcs);
}