.p-c,
.p-c .form-basket{
	position: relative;
    display: flex;
    flex-direction: column;
}
.p-c-l{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}
.p-c{
    height: 100%;
    width: 100%;
}
#content .p-c .title{
    color: var(--pbx-tt);
}
#content .p-c .title:hover{
    color: var(--pbx-tt-h);
}
.p-c .form-basket{
    position: static;
    margin-top: auto;
}
.p-c .price{
    color: var(--pbx-pr);
    white-space: normal;
}
.p-c .footnote-reference{
    font-weight: 400;
    position: relative;
    top: -0.35em;
    left: -0.2em;
}
.p-c strong.price .old-price{
	color: var(--bod-t);
	font-weight: 400;
}
.p-c .rating{
    margin: .3rem 0;
}
.p-c br{
    display: none;
}
.product-border .p-c .img-w .img-ct, 
.product-border .sc-w .img-ct{
	border: 1px solid var(--pbx-im-r);
	overflow: hidden;
}
#product-offer .price_label,
.p-c .price_label{
    display: inline-flex;
}
.p-c .delivery-status{
    z-index: 3;
}
/* Overrite Signal Image Color
.p-c .signal_image{
    color: var(--bod-t);
}*/
.p-c .caption{
    position: relative;
}
.p-c .updatingStockInfo{
    display: none;
}
.second-img {
    opacity: 0; 
    transition: .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.second-img img {
    background: var(--bod-b);
}
a:hover .second-img {
    opacity: 1;
}
body.ie .second-img,
body.edge .second-img{
    display: none;
}
body.ie a:hover .second-img,
body.edge a:hover .second-img{
    display: block;
}
/* Sale Countdown */
.sale-ct{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pbx-ct-b);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: .4rem .3rem;
    border-radius: 0 0 var(--img-rnd) var(--img-rnd);
    color: var(--pbx-ct-t);
}
.sale-ct .ct-un{
    font-size: .6rem;
}
.sale-ct .ct-wp{
    padding: 0 .2rem;
}