.list .product-wrapper,
.list .p-w{
    width: 100% !important;
    min-width: 100%;
    border-bottom: 1px solid var(--hr-li);
    padding: 1.5rem 0;
}
.list .p-c{
    flex-direction: row;
    align-items: flex-start;
}
.list .img-w{
    width: 13rem;
    min-width: 13rem;
    margin: 0 2rem 0 0;
}
.list .p-c ul.info strong,
.list .p-c .delivery-status strong{
    font-weight: var(--ts-w);
    color: var(--bod-t);
}
.list .p-c .estimated-delivery div{
    display: inline;
}
.list .p-c .form-basket{
    margin-top: .75rem;
}
.list .p-c .delivery-status .mt-xxs{
    margin-top: 0;
}
.list .p-c .manu{
    margin-bottom: .2rem;
}
.list .p-c .manu:has(>.img-ct){
    margin-bottom: .5rem;
}
.list .p-c .img-manu{
    width: 2.5rem;
    margin-right: .5rem;
}
.list .p-c:not(.fl-as){
    align-items: center;
}
.list .p-c.fl-as .w100{
    margin-top: .25rem;
}
#p-l.list,
.opc-ProductStream.list{
    margin-left: 0;
    margin-right: 0;
}
@media screen and (max-width: 1600px){
    .list .p-c .img-w{
        min-width: 10rem;
        width: 10rem;
    }
}
@media screen and (max-width: 767px){
    .list .exp .input-group-btn{
        width: auto
    }
}
@media screen and (max-width: 549px){
    .list .p-c .img-w{
        min-width: 7rem;
        width: 7rem;
		margin-right: 1rem; 
    }
    .list .p-c .title{
        margin-bottom: .4rem;
    }
    .list .p-c .form-basket{
        margin-top: 0;
    }
}