@media screen and (max-width: 768px) {
    #snackys-tpl #search{
        position: relative !important;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        opacity: 1;
        transform: none;
        margin-top: 0.5rem;
        overflow: visible;
    }
    #snackys-tpl #search-submit-button, 
    #snackys-tpl #search input{
        visibility: visible
    }
    #snackys-tpl #search-header-mobile-fixed,
    #snackys-tpl #search-header{
        border-radius: 5rem;
    }
    #sr-tg-m{
        display: none;
    }
}