#bc-w{
    margin-bottom: 0;
}
.pl-heading{
    padding: 2rem 0;
    background: var(--plh-b);
    color: var(--plh-t);
}
#plh h1{
    color: var(--plh-h1);
}
#plh .desc:empty{
    display: none;
}
#plh .desc .img-ct{
    border: 1px solid var(--pbx-im-r);
}
#plh a:not(.btn){
    color: var(--plh-l);
}
#plh a:not(.btn):hover{
    color: var(--plh-l-h);
}
#plh hr{
    border-color: var(--plh-t);
}
#plh .mw-container > .mb-sm:last-child{
    margin-bottom: 0;
}
#plh:has(.mw-container:empty) {
    padding: 0;
}
@media screen and (max-width: 991px){
    .pl-heading{
        padding-top: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    .pl-heading{
        padding-top: 1.2rem;
    }
}