.mtrx td{
    width: 1%;
    display: table-cell;
}
.mtrx .form-control{
	min-width: 3rem;
}
.mtrx .add{
    background: var(--inp-b);
    border: 1px solid var(--inp-r);
    color: var(--inp-t);
    padding: 0 .7rem;
    border-radius: 0 var(--frm-rnd) var(--frm-rnd) 0;
}
.mtrx .input-group input:only-child{
    border-radius: var(--frm-rnd);
}
.mtrx .img-ct{
    width: 4rem;
}
.mtrx .status{
    display: block;
    line-height: normal;
}
.mtrx-l .status{
    width: 100%;
}