/* Prev/Next */
#prevNextRow .button{
	background: var(--det-pna-b);
	height: 5rem;
	width: 2rem;
	position: relative;
	z-index: 1;
	transition: .3s ease;
}
#prevNextRow .next .button,
#prevNextRow .previous .img-ct:not(.icon),
#prevNextRow .previous img{
	border-radius: 0 var(--img-rnd-md) var(--img-rnd-md) 0;
}
#prevNextRow .previous .button,
#prevNextRow .next .img-ct:not(.icon),
#prevNextRow .next img{
	border-radius: var(--img-rnd-md) 0 0 var(--img-rnd-md);
}
#prevNextRow .previous a:not(:hover) .img-ct:not(.icon){
	transform: translateX(-1rem);
	opacity: .5;
}
#prevNextRow .next a:not(:hover) .img-ct:not(.icon){
	transform: translateX(1rem);
	opacity: .5;
}
#prevNextRow .img-ct:not(.icon){
	width: 5rem;
	transition: transform .2s ease, opacity .2s ease;
}
#prevNextRow.big .ar{
	border-color: var(--det-pna-i);
}
#prevNextRow .product-pagination{
    width: 7.5rem;
}
#prevNextRow .center{
	max-width: calc(100% - 15rem);
}
#prevNextRow .rating{
	justify-content: center;
}
@media screen and (min-width: 992px){
    #prevNextRow h1{
        margin: 0;
    }
}
@media screen and (max-width: 991px){
	#prevNextRow{
		display: block;
	}
	#prevNextRow .center{
		max-width: none;
	}	
}
@media screen and (max-width: 767px){
	#prevNextRow{
		display: none;
	}
}