:root{
    --btn-rnd: 4rem
}
.p-c{
    background: var(--bod-b-l);
    padding: 1.25rem;
    border-radius: .8rem;
    text-align: center;
}
.p-c .title{
    font-size: 1.1rem;
    font-weight: 400;
}
.p-c .price{
    font-size: 1.1rem;
    font-weight: 400;
}
.p-c .rating{
    justify-content: center;
}
.p-c .price_wrapper{
    margin-top: .5rem;
}
.p-c .img-w{
    margin-bottom: 1.1rem;
}
.p-c .variations{
    text-align: left;
}
.p-w:hover .hv-e{
    padding: 0;
    background: none;
}
.ov-t{
    bottom: auto;
    top: 2rem;
    border-radius: 0 2rem 2rem 0;
    padding-right: .8rem;
}
#snackys-tpl .qty-btns .qty-sub{
    border-radius: 2rem 0 0 2rem;
}
#snackys-tpl .qty-btns .qty-add{
    border-radius: 0 2rem 2rem 0;
}
#sp-l .p-c{
    padding: 0;
    background: none;
}
.p-sl .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#product-offer{
    align-items: flex-start;
}
#product-offer > .product-info{
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}
@media screen and (min-width: 768px){
    body:not(.lightbox-shown) #gallery-thumbs{
        display: none !important;
    }
    body:not(.lightbox-shown) #gallery{
        width: 100%;
    }
    body:not(.lightbox-shown) #gallery a:not(.active){
        display: block;
    }
    body:not(.lightbox-shown) #gallery a:not(:last-child){
        margin-bottom: 2rem;
    }
    .product-info-inner{
        background: var(--bod-b-l);
        border-radius: .8rem;
        padding: 2rem;
    }
}
body[data-page="11"]{
    background: var(--bod-b-l);
}
body[data-page="11"] #checkout-cart{
    background: var(--bod-b);
}
@media screen and (min-width: 576px){
    #p-l,
    .p-sl{
        margin-left: -10px;
        margin-right: -10px;
    }
    .p-sl .p-w,
    #p-l .p-w{
        padding-left: 10px;
        padding-right: 10px;
    }
    #p-l .p-w{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .basket_wrapper .basket-well{
        background: var(--bod-b-l);
        padding: 1rem 2rem;
        border-radius: .8rem;
    }
}
.sc-w .col-6{
    width: calc(100% / 8);
    min-width: calc(100% / 8);
    text-align: center;
}
.sc-w .img-ct{
    border-radius: 50%;
}
.sc-w .title{
    font-size: 1rem;
}
.sc-w ul{
    font-size: .8rem;
}
@media screen and (max-width: 1599px){
    .sc-w .col-6{
        width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
}
@media screen and (max-width: 1199px){
    .sc-w .col-6{
        width: calc(100% / 5);
        min-width: calc(100% / 5);
    }
}
@media screen and (max-width: 899px){
    .sc-w .col-6{
        width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
}
@media screen and (max-width: 599px){
    .sc-w .col-6{
        width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
}
@media screen and (max-width: 399px){
    .sc-w .col-6{
        width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
}